In [1]:
# importing necessary libraries
import pandas as pd

In [2]:
# Load csv file
df = pd.read_csv("Data/covid_19_clean_complete.csv")
 
print(df)

      Province/State         Country/Region        Lat       Long        Date  \
0                NaN            Afghanistan  33.939110  67.709953  2020-01-22
1                NaN                Albania  41.153300  20.168300  2020-01-22
2                NaN                Algeria  28.033900   1.659600  2020-01-22
3                NaN                Andorra  42.506300   1.521800  2020-01-22
4                NaN                 Angola -11.202700  17.873900  2020-01-22
...              ...                    ...        ...        ...         ...
49063            NaN  Sao Tome and Principe   0.186400   6.613100  2020-07-27
49064            NaN                  Yemen  15.552727  48.516388  2020-07-27
49065            NaN                Comoros -11.645500  43.333300  2020-07-27
49066            NaN             Tajikistan  38.861000  71.276100  2020-07-27
49067            NaN                Lesotho -29.610000  28.233600  2020-07-27

       Confirmed  Deaths  Recovered  Active             WHO Region
0              0       0          0       0  Eastern Mediterranean
1              0       0          0       0                 Europe
2              0       0          0       0                 Africa
3              0       0          0       0                 Europe
4              0       0          0       0                 Africa
...          ...     ...        ...     ...                    ...
49063        865      14        734     117                 Africa
49064       1691     483        833     375  Eastern Mediterranean
49065        354       7        328      19                 Africa
49066       7235      60       6028    1147                 Europe
49067        505      12        128     365                 Africa

[49068 rows x 10 columns]

In [3]:
# Count rows and columns
df.shape

(49068, 10)

In [4]:
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [8]:
df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

In [10]:
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

In [8]:
fil_reg = df["WHO Region"] == 'Europe'

In [14]:
filtered_fil = df[fil_reg]

In [15]:
print(filtered_fil)

                    Province/State  Country/Region      Lat     Long  \
1                              NaN         Albania  41.1533  20.1683
3                              NaN         Andorra  42.5063   1.5218
7                              NaN         Armenia  40.0691  45.0382
16                             NaN         Austria  47.5162  14.5501
17                             NaN      Azerbaijan  40.1431  47.5769
...                            ...             ...      ...      ...
49053       British Virgin Islands  United Kingdom  18.4207 -64.6400
49054     Turks and Caicos Islands  United Kingdom  21.6940 -71.7979
49059  Falkland Islands (Malvinas)  United Kingdom -51.7963 -59.5236
49060    Saint Pierre and Miquelon          France  46.8852 -56.3159
49066                          NaN      Tajikistan  38.8610  71.2761

             Date  Confirmed  Deaths  Recovered  Active WHO Region
1      2020-01-22          0       0          0       0     Europe
3      2020-01-22          0       0          0       0     Europe
7      2020-01-22          0       0          0       0     Europe
16     2020-01-22          0       0          0       0     Europe
17     2020-01-22          0       0          0       0     Europe
...           ...        ...     ...        ...     ...        ...
49053  2020-07-27          8       1          7       0     Europe
49054  2020-07-27         99       2         36      61     Europe
49059  2020-07-27         13       0         13       0     Europe
49060  2020-07-27          4       0          1       3     Europe
49066  2020-07-27       7235      60       6028    1147     Europe

[15040 rows x 10 columns]

In [16]:
filtered_fil.shape

(15040, 10)

In [14]:
# Convert to parquet
df.to_parquet('/home/data_science/proyectos/Challenge/Data/covid_19.parquet', engine='fastparquet')

In [15]:
# Load parquet
dapar = pd.read_parquet('/home/data_science/proyectos/Challenge/Data/covid_19.parquet')
print(df)

      Province/State         Country/Region        Lat       Long        Date  \
0                NaN            Afghanistan  33.939110  67.709953  2020-01-22
1                NaN                Albania  41.153300  20.168300  2020-01-22
2                NaN                Algeria  28.033900   1.659600  2020-01-22
3                NaN                Andorra  42.506300   1.521800  2020-01-22
4                NaN                 Angola -11.202700  17.873900  2020-01-22
...              ...                    ...        ...        ...         ...
49063            NaN  Sao Tome and Principe   0.186400   6.613100  2020-07-27
49064            NaN                  Yemen  15.552727  48.516388  2020-07-27
49065            NaN                Comoros -11.645500  43.333300  2020-07-27
49066            NaN             Tajikistan  38.861000  71.276100  2020-07-27
49067            NaN                Lesotho -29.610000  28.233600  2020-07-27

       Confirmed  Deaths  Recovered  Active             WHO Region
0              0       0          0       0  Eastern Mediterranean
1              0       0          0       0                 Europe
2              0       0          0       0                 Africa
3              0       0          0       0                 Europe
4              0       0          0       0                 Africa
...          ...     ...        ...     ...                    ...
49063        865      14        734     117                 Africa
49064       1691     483        833     375  Eastern Mediterranean
49065        354       7        328      19                 Africa
49066       7235      60       6028    1147                 Europe
49067        505      12        128     365                 Africa

[49068 rows x 10 columns]